* {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
}

header {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 18px 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
}

header nav a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    padding-bottom: 30px;
}

header nav a:hover {
    color: hsl(233, 26%, 24%);  
    border-image-slice: 1;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

header nav ul li {
    display: inline;
}

.invite-button {
    width: 12em;
    height: 3em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
}

.invite-button:hover {
    filter: brightness(120%) grayscale(50%);
}

.container {
    background-color: hsl(0, 0%, 98%);
    height: 40em;
    display: flex;
    justify-content: space-between;
}

.container .bg-intro {
    width: 57em;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: -3em -13em;
}

.container .bg-intro .mockups {
    width: 50em;
    height: 56em;
    background-image: url(./images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 8.5em -8em;
    background-size: cover;
    right: 0;
    position: absolute;
}

.container .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8em;
    width: 40em;
}

.container .main-content .heading-main {
    font-size: 3.75em;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.container .main-content .content {
    color: hsl(233, 8%, 62%);
    font-size: 25px;
    margin: 40px 0;
}

.why-container {
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6em 8em;
}

.why-container .why {
    width: 37em;
    margin-bottom: 4em;
}

.why-container .why-heading {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: hsl(233, 26%, 24%);
}

.why-container .why-heading-discription {
    color: hsl(233, 8%, 62%);
    line-height: 2em;
}

.why-container .features {
    display: flex;
    column-gap: 1em;
    width: 95%;
}

.why-container .features .features-heading {
    margin: 1.5em 0;
    font-size: larger;
    color: hsl(233, 26%, 24%);
}

.why-container .features .features-discription {
    color: hsl(233, 8%, 62%);
}

.articles-contaner {
    padding: 6em 8em;
    background-color: hsl(0, 0%, 98%);
}

.articles-contaner .articles-heading {
    font-size: 2.5em;
    color: hsl(233, 26%, 24%);
}

.articles-contaner .articles {
    margin-top: 4em;
    display: flex;
    column-gap: 2em;
}

.articles-contaner .articles .article-holder {
    background-color: hsl(0, 0%, 100%);
}

.articles-contaner .articles .article-holder img {
    width: 100%;
    height: 14em;
}

.articles-contaner .articles .article-holder div {
    padding: 2em;
}

.articles-contaner .articles .article-holder .article-by {
    color: hsl(233, 8%, 62%);
    font-size: small;
}

.articles-contaner .articles .article-holder .article-about {
    margin: 1em 0;
    cursor: pointer;
    color: hsl(233, 26%, 24%);
}

.articles-contaner .articles .article-holder .article-about:hover {
    color: hsl(136, 65%, 51%);
}

.articles-contaner .articles .article-holder .article-discription {
    color: hsl(233, 8%, 62%);
    font-size: smaller;
}

footer {
    background-color: hsl(233, 26%, 24%);
    padding: 3em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    display: flex;
    justify-content: space-between;
    column-gap: 10em;
}

footer .footer-left .logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-left .logo-section svg .path {
    fill: hsl(0, 0%, 100%);
}

footer .footer-left .logo-section .icons {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

footer .footer-left .logo-section .icons svg {
    cursor: pointer;
}

footer .footer-left .logo-section .icons svg:hover path {
    fill: hsl(136, 65%, 51%);
}

footer .footer-left .about-section, footer .footer-left .support-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1em;
}

footer .footer-left .about-section a, footer .footer-left .support-section a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: smaller;
}

footer .footer-left .about-section a:hover, footer .footer-left .support-section a:hover {
    color: hsl(136, 65%, 51%);
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 2em;
}

footer .footer-right .copyright {
    color: hsl(233, 8%, 62%);
    font-size: medium;
}

.mobile-view {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    background-color: white;
    padding: 10px;
    left: 5%;
    right: 5%;
    height: calc(100vh - 50ph);
    width: 85%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu li {
    margin-bottom: 15px;
    padding-top: 10px;
}

@media (max-width: 1380px){
    * {
        overflow-x: hidden;
    }

    .desktop-view{
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .container {
        flex-direction: column;
        height: 100%;
    }

    .bg-intro-mobile {
        width: 100%;
        background-image: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: 0 -0;
        margin-bottom: -5em;
    }

    .container img {
        width: 100%;
        object-position: 0 -7em;
    }

    .container .main-content {
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .container .main-content .heading-main{
        padding: 0 .5em;
        font-size: 7vw;
        text-align: center;
    }

    .container .main-content .content {
        padding: 0 1em;
        font-size: larger;
        line-height: 1.5em;
        text-align: center;
    }

    .container button {
        margin-bottom: 6em;
    }

    .why-container {
        align-items: center;
        padding: 5em 0;
        text-align: center;
    }

    .why-container .why-heading {
        align-self: center;
        font-size: 2em;
        margin: auto;
    }

    .why-container .why-heading-discription {
        font-size: large;
        line-height: 1.5em;
        margin: 2em auto;
        margin-bottom: 0;
    }

    .why-container .features {
        flex-direction: column;
        row-gap: 2.5em;
    }

    .articles-contaner {
        padding: 6em 0;
        text-align: center;
    }

    .articles-contaner .articles-heading {
        font-size: 3em;
    }

    .articles-contaner .articles {
        flex-direction: column;
        padding: 0 2em;
        row-gap: 2.5em;
    }

    .articles-contaner .articles .article-holder {
        text-align: left;
    }
    .articles-contaner .articles .article-holder img {
        height: 45vw;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 1.5em;
    }

    footer .footer-left {
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
        margin-bottom: .5em;
    }

    
    footer .footer-left .logo-section {
        margin-bottom: 1em;
        row-gap: 2em;
    }
    
    footer .footer-left .logo-section svg {
        margin: auto;
    }

    footer .footer-left .about-section {
        row-gap: 1em;
        margin: -1em;
    }

    footer .footer-left .support-section {
        row-gap: 1em;
    }

    footer .footer-right {
        align-items: center;
        width: 20em;
    }

    .mobile-menu a{
        text-decoration: none;
        color: hsl(233, 26%, 24%);
    }

}

@media (max-width: 700px) {
    .why-heading-discription, .why-heading {
        width: 95vw;
    }
}